@import "./fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply text-black font-montserrat;
  }
}

@layer components {
  .section-container {
    @apply flex flex-col gap-y-6 w-full;
  }

  .section-title {
    @apply text-center font-semibold text-4xl lg:text-6xl tracking-wide;
  }

  .section-text-xl {
    @apply font-medium tracking-wide text-xl md:text-2xl lg:text-3xl;
  }

  .section-text-lg {
    @apply font-normal text-base md:text-lg lg:text-xl;
  }

  .section-text-base {
    @apply font-normal text-sm md:text-base lg:text-lg;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
